/*!
 * SINO Pas Connect v.4
 * Copyright 2015-2016 ITC Smandak Team.
 * Author: Alvira Mohamad
 */

/*---------------------------------------
 GLOBAL STYLES
 1. TYPOGRAPHY
 2. FORM STYLE
 3. BREADCRUMB
---------------------------------------*/
body{
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	color:#626262;
	background:#f0f2f5;
}

i.material-icons {
    font-size: 20px;
    line-height: 1;
}

/*1. Typography*/
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span{
	color:#3498db;
}
p {
	font-size:13px;
	line-height:1.8;
	color:#8B8D8D
}
.navbar-default .navbar-nav > li > a{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#3498db;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*2. Form Style*/

.form-control {
    height: 40px;
    border-radius: 3px;
    -webkit-box-shadow:none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-control:focus {
	box-shadow: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 13px;
  pointer-events: none;
  color: #6C6C6C;
}

.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 35px; }


/*3. Button*/

.btn{
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	padding: 9px 20px;
    margin-top: 18px;
}

.btn:hover{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-primary{
	background:#3498db;
	border:#3498db;
}
.btn-primary:hover{
	background:#2980b9;
	border:#2980b9;
}
.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:btn 0.65s linear;
   -moz-animation:btn 0.65s linear;
    -ms-animation:btn 0.65s linear;
     -o-animation:btn 0.65s linear;
        animation:btn 0.65s linear;
}

@-webkit-keyframes btn {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes btn {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes btn {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes btn {
    100% {opacity: 0; transform: scale(2.5);}
}

/*4. Breadcrumb*/

.breadcrumb{
	background:none;
	padding:0;
	font-size:12px;
}
.breadcrumb > li > a {
	color:#fff;
}
.breadcrumb > li.active> a >  {
	font-weight:800
}

/*---------------------------------------
 LAYOUT
 1. Navbar
 2. Sidebar
 3. Page Content
---------------------------------------*/


/*1. Navbar*/

.navbar {
    background: #fff;
    margin: 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
	border-radius:0;
	padding:7px 0px;
}

.navbar-header .menu i.material-icons {
    font-size: 25px;
    color: #9F9F9F;
    padding: 9px 0px;
}
.navbar-header .menu i.material-icons :hover{
	color:#626262;
}
.navbar-header.dashboard {
    width: 100%;
	margin:0;
}
.menu-nav {
    float: right;
}

.menu-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.menu-nav>li {
    display: inline-block;
    float: left;
}

.menu-nav>li>a {
    padding: 9px 0px;
    line-height: 20px;
    color: #999;
	min-width: 40px;
    text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.menu-nav>li>a:hover,
.menu-nav>li>a:focus,
.menu-nav>.open>a,
.menu-nav>.open>a:hover,
.menu-nav>.open>a:focus {
    color: #626262;
	background-color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.menu-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.menu-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.menu-nav>.open>.dropdown-menu i.material-icons {
    float: left;
    margin-right: 8px;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
	overflow-x: hidden;
}

li.message-preview {
    width: 250px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-header {
    background: #F2F2F2;
    padding: 10px 20px;
}

li.message-preview {
    padding-top: 15px;
    padding-bottom: 15px;
	padding-right:20px;
	padding-left:20px;
}

li.message-preview:hover {
    background: #f8f8f8;
}

ul.alert-dropdown {
    width: 200px;
}

.bubble {
    position: absolute;
    top: 13px;
    right: 12px;
    background: #F22929;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: relative;
    float: right;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}


/*2.Sidebar*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #181a1b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li, .sidebar-nav li a{
    line-height: 40px;
	text-indent: 32px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #EFEDED;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .active,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: #0094de;
}

.sidebar-nav > .sidebar-brand {
    height: 120px;
    margin-top: 30px;
}

.sidebar-nav .dropdown-menu{
	background: #0E0E0E;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	box-shadow: none;
	border: 0;
	width:100%;
	position: inherit;
}

.sidebar-nav .dropdown-menu li a {
    padding-left: 38px;
    font-size: 12px;
	line-height: 34px;
}

.sidebar-nav li a i.material-icons {
    font-size: 20px;
    line-height: 1;
    position: relative;
    float: left;
    top: 9px;
    margin-right: -15px;
}

/*3. Page Content*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.page-header {
    background: url('../images/bg-header.jpg');
    color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	padding: 38px;
	margin:0px;
}

.page-header .label-default {
    background: rgba(0, 0, 0, 0.30);
}

.choose .strong{
	font-size: 18px;
    font-weight: 700;
    padding: 3px 0px;

}
.choose  .pagination {
    margin: 0;
}

.choose .pagination > li > a{
	border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
    font-weight: 400;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.choose .pagination > li > a:hover, .choose .pagination > .active > a,.choose .pagination > .active > a:hover {
	background:#fff;
	color: #3498db;
	border: solid 2px #fff;
}

@media(max-width:768px){
	.choose .row{
		text-align:center;
	}
}
.page-content {
	margin:15px;
    background: #fff;
    padding: 20px;
    box-shadow: RGBA(0, 0, 0, 0.08) 0px 0px 2px 1px;
}
.page-content .row{
	margin:8px -25px;
}
.page-content.primary{
	background: #3498db;
	color: #fff;
}

.page-content.primary p{
	color:#fff;
}
.page-content .hero{
	font-weight: 800;
    font-size: 25px;
}

.page-content .sub-hero{
    font-weight: 800;
    margin-bottom: 10px;
}


/*---------------------------------------
 SECTION STYLES AND COMPONENTS
 1. BACKGROUND SECTION TYPE
 2. COMPONENTS
---------------------------------------*/


section {
    padding-top:50px;
    padding-bottom:50px;
}
section p{
	margin-top:15px;
}


/* 1. Background Section Type */
 
.bg-1 {
	background: url('../images/bg-1.jpg');
    color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bg-2{
	background:#fff;
}

.bg-3{
	background:transparent;
}

.bg-4{
	background: url('../images/bg-3.jpg');
    color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media( max-width : 585px ){
	.bg-1{
		background-size: 500%;
	}
	.bg-4{
		background-size: 400%;
	}
	.bg-2,.bg-4,.page-header{
		background-size: 250%;
	}
}
/* 2. Components */

#about h2{
	margin-bottom:25px;
	margin-top:15px;
}
#about .featured-img{
	max-width: 95%;
}
@media( max-width : 585px ){
	#about .row{
		text-align:center;
	}
	#about .featured-img{
		max-width: 320px;
	}
}
.container.header {
    margin-top: 80px;
	z-index: 2;
    position: relative;
}

.container.header .login-box {
    padding: 40px 30px;
	background: #fff;
	color: #626262;
	width: 350px;
	margin: auto;
	position: relative;
	border: #eee solid 1px;
	border-radius: 6px;
	box-shadow:0 0 10px rgba(0,0,0,.40);
}

.feature{
	margin:30px 20px;
}

.feature-img{
	height:120px;
}

.call-to-action h3{
	text-transform:uppercase;
	font-weight:700;
	font-size:20px;
}

.call-to-action h3 .fa{
	color:#E9001E;
}

.call-to-action p{
	color:#fff;
	font-size:18px;
	font-weight:700;
	margin-top:10px;
}

.call-to-action .btn.btn-default {
    background: none;
    color: #fff;
}

.call-to-action .btn.btn-default:hover {
    background: #fff;
	border-color:#fff;
    color: #000;
}

.author {
    display: inline-table;
    width: 130px;
	margin-bottom:10px;
	margin-top:10px;
}

.author .avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: #fff solid 3px;
}
.author .name {
    font-weight: 600;
    font-size: 10px;
    background: #3498db;
    padding: 6px;
    position: relative;
    margin-top: -32px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.47);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    float: right;
}
.author .title {
    text-align: center;
    font-size: 10px;
    margin-top: 8px;
    font-style: italic;
}

.divider {
    height:50px;
}

.space-top{
	margin-top:20px;
}

.nilai {
	background: #393939;
	height: 120px;
	width: 120px;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	margin-bottom:20px;
	padding: 15px;
	display:inline-table;
	overflow:hidden;
}

.nilai.lulus {
	border: #77d972 solid 7px;
}

.nilai.tidak-lulus{
	border: #e34d4e solid 7px;
}

.nilai .rate {
	font-weight: 700;
	font-size: 35px;
	margin: 0;
	line-height: 45px;
}
.nilai p {
    line-height: 12px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    width: 76px;
}

.bio {
    border-bottom: solid 1px #E0E0E0;
    margin-bottom: 15px;
}

.atas{
	font-weight:600;
}

.settings .icon {
    width: 35px;
    display: inline-table;
    font-size: 20px;
    top: 7px;
    position: relative;
    left: 10px;
}

.settings .main{
	width:80%;
	display:inline-table;
}

.settings .action{
	width:50px;
	display:inline-table;
}

@media( max-width : 585px ){
	.settings .main{
		width:60%;
	}
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
.alert-login{
    margin-top: 15px;
    text-align: left;
}
.alert-login .alert{
	margin-bottom:5px;
}
/*---------------------------------------
 FOOTER STYLES
---------------------------------------*/

footer {
    text-align: center;
    color: #a4a4a4;
    padding: 30px;
}

footer a {
	color:#a4a4a4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

footer a:hover {
	color:#646464;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

footer.dark{
	background:#333;
	color:#E6E6E6;
}
footer.dark a{
	color:#E6E6E6;
}
footer.dark a:hover{
	color:#fff;
}